body {
    font-family: -apple-system, sans-serif;
}
a {
    color: #e53935;
}
p {
    font-size: 18px
}
li {
    font-size: 18px;
    margin: 0 0 0.5rem 0
}
blockquote {
    background-color: #F5F5F5;
    padding: 20px;
}
